@model CreateProductViewModel
@*<div asp-validation-summary="ValidationSummary.All"></div>*@

@*<form asp-controller="Home" asp-action="CreateProduct">
    <label asp-for="ProductName"></label>
    <br />
    <input asp-for="ProductName" placeholder="Produktnamn" />
    <br />
    <span asp-validation-for="ProductName"></span>
    <br />

    <label asp-for="Price"></label>
    <br />
    <input asp-for="Price" placeholder="Pris" />
    <br />
    <span asp-validation-for="Price"></span>
    <br />

   tml.EnumDropDownListFor(model => model.Category)
    @Html.DropDownListFor(m => m, Html.GetEnumSelectList(Model.GetType()))
    @*<label asp-for="Category"></label>
    <br />
    <input asp-for="Category" placeholder="Produktkategori" />
    <br />
    <span asp-validation-for="Category"></span>
    <br />

    <label asp-for="ProductDescription"></label>
    <br />
    <input asp-for="ProductDescription" placeholder="Produktbeskrivning" />
    <br />
    <span asp-validation-for="ProductDescription"></span>
    <br />

    <label asp-for="AmountToAdd"></label>
    <br />
    <input asp-for="AmountToAdd" placeholder="Antal" />
    <br />
    <span asp-validation-for="AmountToAdd"></span>
    <br />

    <label asp-for="ImageURL"></label>
    <br />
    <input asp-for="ImageURL" placeholder="Bildens URL-adress" />
    <br />
    <span asp-validation-for="ImageURL"></span>
    <br />

    <input type="submit" value="CreateProduct" />
</form>*@

<div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-xs-offset-1">
                <form asp-controller="Home" asp-action="CreateProduct">
                    <h2>Registrera ny produkt<small></small></h2>
                    <div class="row">
                        <br />
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input asp-for="ProductName" placeholder="Produktnamn" class="form-control input-lg" tabindex="1">
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                                <br />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input asp-for="Price" placeholder="Pris exkl. moms" class="form-control input-lg" tabindex="2">
                                <span asp-validation-for="Price" class="text-danger"></span>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input asp-for="ProductDescription" placeholder="Produktbeskrivning" class="form-control input-lg" tabindex="3">
                        <span asp-validation-for="ProductDescription" class="text-danger"></span>
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input asp-for="Category" placeholder="Produktkategori" class="form-control input-lg" tabindex="4" />
                                <span asp-validation-for="Category" class="text-danger"></span>
                                <br />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input asp-for="AmountToAdd" placeholder="Antal" class="form-control input-lg" tabindex="5" />
                                <span asp-validation-for="AmountToAdd" class="text-danger"></span>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input asp-for="ImageURL" placeholder="Bildens URL-adress" class="form-control input-lg" tabindex="6" />
                        <span asp-validation-for="ImageURL" class="text-danger"></span>
                        <br />
                    </div>

                    <div class="row">
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6"><input type="submit" value="Lägg till vara" class="btn btn-primary btn-block btn-lg" tabindex="8"></a></div>
                    </div>
                    <div class="row">
                        <br />
                    </div>
                </form>
            </div>
    </div>
</div>