<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-xs-offset-1">
            <h1>Products page</h1>
            <br />
            <p>Här kan ni se våra fantastiska produkter! Vi har allt inom kontor, och lite annat...</p>
            <br />
            <p>Mvh,</p>
            <p>Ledningen</p>
            </div></div></div>