@model ProductListViewModel[]
<table>
    <tr><th>@switch (Model[0].CategoryId)
    {
        case 2:
            <h2>Pennor</h2>
            break;
        case 3:
            <h2>Papper</h2>
            break;
        case 4:
            <h2>Skrivare</h2>
            break;
        case 5:
            <h2>Kök</h2>
            break;
        case 6:
            <h2>Övrigt</h2>
            break;
        default:
            break;
    }
    </th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><a href="~/products/product/@item.Id">@item.ProductName</a></td>
        </tr>
    }
</table>