@model List<ProductListViewModel>

@if (Model != null)
{
    <table>
        <tr>
            <th>Produktnamn</th>
            <th>Pris</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.Price</td>
            </tr>
        }
    </table>
    @if(Context.Request.Cookies["Id"].Count > 0)
    {
    <a href='@Url.Action("CheckoutComplete", "Products", Context.Request.Cookies["Id"].First().ToString())'><input class="btn btn-info" type="button" value="Checkout" /></a>
    }
    else
    {
        <a href='@Url.Action("CheckoutComplete", "Products", "-1")'><input class="btn btn-info" type="button" value="Checkout" /></a>
    }
}
else
{
        <h2>Your cart is empty!</h2>
}

