.FullField {
    width:95%;
} 

.navbar-default {
    background:linear-gradient(#78fB46, #526F35);
    border-color:#08a054;
    color:#b1ffd0;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

.nav.navbar-nav.navbar-right li a:hover {
    color:#b1ffd0;
}

.navbar-default .navbar-brand {
    color:white;
}

.navbar-default .navbar-brand:hover {
    color:#b1ffd0;
}

#asideLeft {
    font-size: 20px;
    padding-right:10px;
    text-align:left;
    color:white;
    background:linear-gradient(#526F35, #78fB46);
    float:left;
    position: fixed;
    top:7%;
    left:0;
    right:89%;
    bottom:8%;
}

#asideRight {
    text-align:center;
    color:white;
    background:linear-gradient(#526F35, #78fB46);
    float:right;
    position: fixed;
    top:7%;
    right:0;
    left:90%;
    bottom:8%;
}

#footer {
    font-size:15px;
    text-align:center;
    color:white;
    width: 100%;
    bottom: 0;
    position: fixed;
    top:92%;
    background:linear-gradient(#78fB46, #526F35);

}

.noBullets
{
    list-style-type: none;
}

.noBullets li:hover
{
    color:#b1ffd0;
}

.noBulletsMain
{
    list-style-type: none;
}

.pictureSizeMediumWide
{
    width:400px;
    height:200px;
}

.pictureSizeMedium 
{
    width:400px;
    height:300px;
}

.pictureSizeCampaign
{
    width:80%;
    height:auto;
}

#horizontalPics li 
{
    display: inline;
    list-style-type: none;
}


/*-==============================================*/
/*-==============================================*/


.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.Banner {
    color:white;
    padding:10px;
    background-color:#78fB46;
    border-radius:25px;
}

.BannerBIG {
    color:white;
    padding:1px;
    background-color:#78fB46;
    border-radius:25px;
}