<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-xs-offset-1">
            <h1>Välkommen till KAB</h1>
            <h2>Kontorsprylar AB</h2>
            <p>Din trygga kontorsbutik på Internet</p>
            <p>Vi står snabb leverans av kvalitetsprodukter och en god kundrelation</p>
            @*<img src="http://images.kontorsmagasinet.se/erbjudande/Stamkundsrabatt_Front_Banner_smallv2.jpg"/>*@
        </div>
    </div>
</div>