<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-xs-offset-1">
            <h1>Dagens deal!</h1>
            <h2><a class="someLinks" href="~/products/index">Produktsidan</a></h2>
        </div>
    </div>
</div>