@model CreateCustomerViewModel


<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Home" asp-action="Create" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <h2>Registrera konto</h2>
                <hr />
                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                <div class="form-group">

                    @*<form asp-controller="Home" asp-action="Create">*@
                    <label asp-for="FirstName"></label>
                    <br />
                    <input asp-for="FirstName" placeholder="Förnamn" />
                    <br />
                    <span asp-validation-for="FirstName"></span>
                    <br />


                    <label asp-for="LastName"></label>
                    <br />
                    <input asp-for="LastName" placeholder="Efternamn" />
                    <br />
                    <span asp-validation-for="LastName"></span>
                    <br />

                    <label asp-for="Email"></label>
                    <br />
                    <input asp-for="Email" placeholder="E-postadress" />
                    <br />
                    <span asp-validation-for="Email"></span>
                    <br />

                    <label asp-for="Password"></label>
                    <br />
                    <input asp-for="Password" type="password" placeholder="Lösenord" />
                    <br />
                    <span asp-validation-for="Password"></span>
                    <br />

                    <label asp-for="ComparePassword"></label>
                    <br />
                    <input asp-for="ComparePassword" type="password" placeholder="Bekräfta lösenord" />
                    <br />
                    <span asp-validation-for="ComparePassword"></span>
                    <br />

                    <label asp-for="Adress"></label>
                    <br />
                    <input asp-for="Adress" placeholder="Adress" />
                    <br />
                    <span asp-validation-for="Adress"></span>
                    <br />

                    <label asp-for="Ssn"></label>
                    <br />
                    <input asp-for="Ssn" placeholder="Personnummer" />
                    <br />
                    <span asp-validation-for="Ssn"></span>
                    <br />

                    <input type="submit" value="Create" />
</form>
            @*</form>*@
        </section>
    </div>
</div>
@*<form ng-submit="onSubmit()"
          novalidate="novalidate">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   class="form-control"
                   ng-model="formModel.name"
                   id="name"
                   required="required" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   ng-model="formModel.email"
                   id="email"
                   required="required"
                   name="email" />
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number"
                   class="form-control"
                   ng-model="formModel.age"
                   min="18"
                   max="64"
                   id="age"
                   ng-min-err-type="tooYoung"
                   ng-max-err-type="tooOld"
                   required="required" />
        </div>
        <div class="form-group">
            <label for="sex">Sex</label>
            <select name="sex"
                    id="sex"
                    class="form-control"
                    ng-model="formModel.sex"
                    required="required">
                <option value="">Please Choose</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   ng-model="formModel.password"
                   ng-minlength="10"
                   ng-maxlength="40"
                   id="password"
                   required="required" />
        </div>
        <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password"
                   class="form-control"
                   ng-model="formModel.password"
                   ng-minlength="10"
                   ng-maxlength="40"
                   id="password"
                   required="required" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
    <pre>{{ formModel | json }}</pre>*@
