@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model LoginCustomerViewModel

@{
}

<h2>@ViewData["Title"]</h2>
@*<div class="row">
        <div class="col-md-8">
            <section>
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                 </div>
    </div>*@

@* Testar lite varianter *@


@* nytt försök *@

<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-xs-offset-1">
            <form asp-controller="Customers" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
                <h2>Inloggning <small>Logga in här med ditt KAB-konto</small></h2>
                @*<hr class="colorgraph">*@
                <div class="row">
                    <br />
                </div>
                <div class="row">
                    <div class="form-group">
                        <input asp-for="Email" placeholder="Email: exempel@email.com" class="form-control input-lg" tabindex="1">
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input asp-for="Password" placeholder="Lösenord" class="form-control input-lg" tabindex="2">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a href="~/customers/create" class="btn btn-success btn-block btn-lg">Ej konto? - Registrera här!</a>
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <p>Glömst lösenord? <a href="#">Klicka här</a></p>
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>

                @*<a asp-action="ForgotPassword" class="col-xs-12 col-md-6">Glömt lösenord?</a>*@

            </form>
        </div>
    </div>
</div>